In [1]:
import pandas as pd
data14={"NAME":['ADITYA','BRACE','CHANDAN','SAHIL','VEDAANT','ANKIT','NALIN','PRATISH','PRAVEEN','SUBHRANSHU'],"AGE":[19,19,20,18,17,16,17,18,19,10],"ROLLNO.":[1,2,3,4,5,6,7,8,9,10],"M1":[99,98,97,96,95,94,93,92,91,100],"M2":[88,97,82,45,56,66,77,44,56,10],"M3":[90,89,78,88,91,95,97,88,56,45],"M4":[56,77,77,89,45,56,76,77,89,90],"BOARDING STATUS":['HS','DS','HS','DS','HS','DS','HS','DS','DS','DS']}
The_DataFrame=pd.DataFrame(data14)
print(The_DataFrame)
mean12=The_DataFrame["AGE"].mean()
print(mean12)
hs_students = The_DataFrame[The_DataFrame['BOARDING STATUS'] == 'HS']

# Calculate the average age
average_age_hs = hs_students['AGE'].mean()

print("Average age of students with boarding status 'HS':", average_age_hs)
ds_students = The_DataFrame[The_DataFrame['BOARDING STATUS'] == 'DS']

# Calculate the average age
average_age_ds = ds_students['AGE'].mean()

print("Average age of students with boarding status 'DS':", average_age_ds)
The_DataFrame.loc[The_DataFrame['BOARDING STATUS'] == 'HS', 'M1'] += 5

print(The_DataFrame)
The_DataFrame.loc[The_DataFrame['BOARDING STATUS'] == 'DS', 'M1'] += 5

print(The_DataFrame)

         NAME  AGE  ROLLNO.   M1  M2  M3  M4 BOARDING STATUS
0      ADITYA   19        1   99  88  90  56              HS
1       BRACE   19        2   98  97  89  77              DS
2     CHANDAN   20        3   97  82  78  77              HS
3       SAHIL   18        4   96  45  88  89              DS
4     VEDAANT   17        5   95  56  91  45              HS
5       ANKIT   16        6   94  66  95  56              DS
6       NALIN   17        7   93  77  97  76              HS
7     PRATISH   18        8   92  44  88  77              DS
8     PRAVEEN   19        9   91  56  56  89              DS
9  SUBHRANSHU   10       10  100  10  45  90              DS
17.3
Average age of students with boarding status 'HS': 18.25
Average age of students with boarding status 'DS': 16.666666666666668
         NAME  AGE  ROLLNO.   M1  M2  M3  M4 BOARDING STATUS
0      ADITYA   19        1  104  88  90  56              HS
1       BRACE   19        2   98  97  89  77              DS
2     CHANDAN   20        3  102  82  78  77              HS
3       SAHIL   18        4   96  45  88  89              DS
4     VEDAANT   17        5  100  56  91  45              HS
5       ANKIT   16        6   94  66  95  56              DS
6       NALIN   17        7   98  77  97  76              HS
7     PRATISH   18        8   92  44  88  77              DS
8     PRAVEEN   19        9   91  56  56  89              DS
9  SUBHRANSHU   10       10  100  10  45  90              DS
         NAME  AGE  ROLLNO.   M1  M2  M3  M4 BOARDING STATUS
0      ADITYA   19        1  104  88  90  56              HS
1       BRACE   19        2  103  97  89  77              DS
2     CHANDAN   20        3  102  82  78  77              HS
3       SAHIL   18        4  101  45  88  89              DS
4     VEDAANT   17        5  100  56  91  45              HS
5       ANKIT   16        6   99  66  95  56              DS
6       NALIN   17        7   98  77  97  76              HS
7     PRATISH   18        8   97  44  88  77              DS
8     PRAVEEN   19        9   96  56  56  89              DS
9  SUBHRANSHU   10       10  105  10  45  90              DS

In [2]:
import pandas as pd
data14={"NAME":['ADITYA','BRACE','CHANDAN','SAHIL','VEDAANT','ANKIT','NALIN','PRATISH','PRAVEEN','SUBHRANSHU'],"AGE":[19,19,20,18,17,16,17,18,19,10],"ROLLNO.":[1,2,3,4,5,6,7,8,9,10],"M1":[99,98,97,96,95,94,93,92,91,100],"M2":[88,97,82,45,56,66,77,44,56,10],"M3":[90,89,78,88,91,95,97,88,56,45],"M4":[56,77,77,89,45,56,76,77,89,90],"BOARDING STATUS":['HS','DS','HS','DS','HS','DS','HS','DS','DS','DS']}
The_DataFrame=pd.DataFrame(data14)
print(The_DataFrame)
#calculating the average age of all students#
mean12=The_DataFrame["AGE"].mean()
print("Average age of all the students:",mean12)

         NAME  AGE  ROLLNO.   M1  M2  M3  M4 BOARDING STATUS
0      ADITYA   19        1   99  88  90  56              HS
1       BRACE   19        2   98  97  89  77              DS
2     CHANDAN   20        3   97  82  78  77              HS
3       SAHIL   18        4   96  45  88  89              DS
4     VEDAANT   17        5   95  56  91  45              HS
5       ANKIT   16        6   94  66  95  56              DS
6       NALIN   17        7   93  77  97  76              HS
7     PRATISH   18        8   92  44  88  77              DS
8     PRAVEEN   19        9   91  56  56  89              DS
9  SUBHRANSHU   10       10  100  10  45  90              DS
Average age of all the students: 17.3