In [1]:
import pandas as pd

In [2]:
from pandas import read_csv
df = r"C:\Users\sahil\OneDrive\Documents\DMMMMP.xlsx"

In [3]:
import pandas as pd

In [4]:
df = pd.read_excel(r'C:\Users\sahil\OneDrive\Documents\DMMMMP.xlsx')

In [5]:
df

   TID                 items bought
0   10             beer,nuts,diaper
1   20            beer,coffe,diaper
2   30              beer,diaper,egg
3   40               nuts,eggs,milk
4   50  nuts,eggs,milk,coffe,diaper